# Python bytecode/env files
__pycache__/
*.py[cod]
*$py.class
*coverage*
venv
.pytest*
.mypy*

# Environment files
common.env
security_reports/

# Flask stuff
instance/
.webassets-cache

# Docker
.dockerignore

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db