# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
*.env
.venv
env/
venv/
ENV/

# Flask stuff
instance/
.webassets-cache

# Docker
.dockerignore

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db