# Python bytecode/env files
__pycache__/
*.py[cod]
*$py.class
.py*
*coverage*
venv

# Environment files
common.env


# Flask stuff
instance/
.webassets-cache

# Docker
.dockerignore

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db